@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Montserrat", "Segoe UI", Tahoma, sans-serif;
  
  --color-artistic-bg: #f8f9fa;
  --color-artistic-fg: #4a3f3f;
  --color-artistic-accent: #c79ead;
  --color-artistic-muted: #8e7b7b;
  --color-artistic-line: #e2d1d1;
  --color-artistic-surface: #ffffff;
}

@layer base {
  body {
    @apply bg-artistic-bg text-artistic-fg antialiased font-sans transition-colors duration-500 overflow-hidden;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2d1d1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c79ead;
  }
}
